body {
    background-image: url("assets/background.webp");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin: 0px;
}
#pokemon {
    position: absolute;
    border: 2px black solid;
    width: 30%;
    height: 55%;
    top: 60px;
    left: 275px;
    display: flex;
    justify-content: center;
}
#pokemonImg {
    border: 2px black solid;
}
#container {
    position: absolute;
    bottom: 0px;
    border: solid black 2px;
}